.weather {
  margin: auto;
  padding: 10px 0;
  min-width: 190px;
  max-width: 1400px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background: rgba(0, 115, 255, 0.1);
}

.weather h1 {
  font-size: 40px;
  text-shadow: 0px 0px 30px rgb(213, 222, 134);
  padding: 10px;
}

.weatherList {
  display: grid;
  gap: 4px;
  padding: 0 30px;
}

.searchWeather {
  padding: 0 30px;
}

.searchWeather {
  margin: 10px auto;
}

.weatherList {
  grid-template-columns: repeat(5, 1fr);
}

.searchWeather form {
  background: rgba(255, 153, 0, 0.418);
}

.searchWeather form,
.searchWeather form input,
.weatherList .weatherItem {
  border: 1px solid black;
  border-radius: 5px;
}

.weatherList .weatherItem {
  transition: 0.2s;
  box-shadow: 0px 0px 10px black;
  background-color: rgb(245, 213, 179);
}

.weatherList .weatherItem:hover {
  cursor: pointer;
  background-color: rgb(213, 222, 134);
  transform: scale(1.02);
}

.searchWeather form label {
  font-weight: 600;
  font-size: larger;
}

.searchWeather form input {
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  font-size: 20px;
}

.searchWeather form {
  display: grid;
  gap: 5px;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  padding: 50px;
  box-shadow: 0px 0px 10px black;
}

@media (max-width: 1200px) {
  .weatherList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .weatherList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .weather h1 {
    font-size: 30px;
  }

  .weatherList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .searchWeather,
  .weatherList,
  .searchWeather form {
    padding: 0 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .searchWeather form {
    padding: 50px 10px;
  }

  .searchWeather form input {
    width: 90%;
    margin: 0 auto;
  }
}
